* {
    font-family: 'Montserrat', sans-serif !important;
}

.notification-badge {
    position: relative;
    background-color: red;
    color: white;
    font-weight: bolder;
    padding: 4px 8px;
    border-radius: 50%;
    font-size: 8px;
    top: -10px;
}

.sticky {
    position: fixed;
    max-width: 250px;
}

.text-white .active {
    font-weight: bolder;
}